name: Rotate Snowflake Canonical Key

on:
  workflow_dispatch:


jobs:
  rotate-key:
    runs-on: ubuntu-latest

    env:
      USER_NAME: "jason"
      SNOWFLAKE_ROLE: "PUBLIC"
      SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
      SNOWFLAKE_WAREHOUSE: "COMPUTE_WH"
      SNOWFLAKE_DATABASE: "XORQ_TEST"
      SNOWFLAKE_SCHEMA: "PUBLIC"

    steps:

      - name: Checkout repository
        uses: actions/checkout@v3


      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"


      - name: Install Xorq keypair helper
        run: |
          pip install "xorq[snowflake]"
          pip install git+https://github.com/xorq-labs/snowflake-keypair-helper


      - name: Generate new canonical keypair
        run: |
          NEW_KEYPAIR="${{ env.USER_NAME }}.new.env"
          uv run --isolated --with git+https://github.com/xorq-labs/snowflake-keypair-helper skh-generate-keypair $NEW_KEYPAIR


      - name: Setup admin credentials
        run: |
          cat <<'EOF' > admincred.env
          ${{ secrets.ADMIN_ENV_CONTENT }}
          EOF
    
      
      - name: Assign new public key
        run: |
          NEW_KEYPAIR="${{ env.USER_NAME }}.new.env"
          uv run --isolated --with git+https://github.com/xorq-labs/snowflake-keypair-helper \
            skh-assign-public-key --path $NEW_KEYPAIR --env-path admincred.env "${{ env.USER_NAME }}"

      - name: Create jasoncred.env
        run: |
          NEW_KEYPAIR="${{ env.USER_NAME }}.new.env"
          PUBLIC_KEY=$(grep SNOWFLAKE_PUBLIC_KEY $NEW_KEYPAIR | cut -d'=' -f2- | sed "s/^'//;s/'$//")
          PRIVATE_KEY=$(grep '^SNOWFLAKE_PRIVATE_KEY=' $NEW_KEYPAIR | cut -d'=' -f2- | sed "s/^'//;s/'$//")
          PRIVATE_PWD=$(grep '^SNOWFLAKE_PRIVATE_KEY_PWD=' $NEW_KEYPAIR | cut -d'=' -f2- | sed "s/^'//;s/'$//")

          cat <<EOF > jasoncred.env
          SNOWFLAKE_ROLE="${{ env.SNOWFLAKE_ROLE }}"
          SNOWFLAKE_USER="${{ env.USER_NAME }}"
          SNOWFLAKE_ACCOUNT="${{ env.SNOWFLAKE_ACCOUNT }}"
          SNOWFLAKE_WAREHOUSE="${{ env.SNOWFLAKE_WAREHOUSE }}"
          SNOWFLAKE_DATABASE="${{ env.SNOWFLAKE_DATABASE }}"
          SNOWFLAKE_SCHEMA="${{ env.SNOWFLAKE_SCHEMA }}"
          SNOWFLAKE_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
          $PUBLIC_KEY
          -----END PUBLIC KEY-----"
          SNOWFLAKE_PRIVATE_KEY_PWD="$PRIVATE_PWD"
          SNOWFLAKE_PRIVATE_KEY="-----BEGIN ENCRYPTED PRIVATE KEY-----
          $PRIVATE_KEY
          -----END ENCRYPTED PRIVATE KEY-----"
          EOF


      - name: Validate new Jason credentials
        run: |
          cat jasoncred.env && uv run --isolated --with git+https://github.com/xorq-labs/snowflake-keypair-helper skh-validate-credentials --env-path jasoncred.env


      - name: run code
        run: uv run main.py
